swagger: "2.0"
info:
  description: "Service responsible to handle all the calls related to movies."
  version: "1.0.0"
  title: Tmdb
host: "api.themoviedb.org"
basePath: "/3"
tags:
  - name: MoviesDb
    description: Everything that goes with the movies

produces:
  - "application/json"
schemes:
  - "https"
paths:
  '/movie/{movie_id}':
    get:
      tags:
        - movies
      operationId: GetMovie
      description: Get a movie by id
      parameters:
        - name: movie_id
          in: path
          required: true
          type: integer
        - name: api_key
          in: query
          type: string
          required: true
          description: api key
        - name: language
          in: query
          type: string
          description: Pass a ISO 639-1 value to display translated data for the fields that support it.
      responses:
        200:
          description: Returns list of movies
          schema:
            $ref: "#/definitions/MovieResponse"
        401:
          description: Unauthorized
        404:
          description: Movies not found

definitions:
  MovieResponse:
    type: object
    properties:
      adult:
        type: boolean
      backdrop_path:
        type: string
      belongs_to_collection:
        type: array
        items:
          $ref: "#/definitions/BelongsToCollection"
      budget:
        type: integer
      genres:
        type: array
        items:
          $ref: "#/definitions/Genre"
      homepage:
         type: string
      id:
         type: integer
      imdb_id:
         type: string
      original_language:
         type: string
      original_title:
         type: string
      overview:
         type: string
      popularity:
         type: number
      poster_path: 
         type: string
      production_companies:
         type: array
         items:
          $ref: "#/definitions/ProductionCompany"
      production_countries:
         type: array
         items:
          $ref: "#/definitions/ProductionCountry"
      release_date:
         type: string
      revenue:
         type: integer
      runtime:
         type: integer
      spoken_languages:
         type: array
         items:
          $ref: "#/definitions/SpokenLanguage"
      status:
         type: string
      tagline:
         type: string
      title:
         type: string
      video:
         type: boolean
      vote_average:
         type: number
      vote_count:
         type: integer

  Genre:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string

  ProductionCompany:
    type: object
    properties:
      id:
        type: integer
      logo_path:
        type: string
      name:
        type: string  
      origin_country:
        type: string

  ProductionCountry:
    type: object
    properties:
      iso_3166_1:
        type: string
      name:
        type: string
  
  SpokenLanguage:
     type: object
     properties:
       english_name:
         type: string
       iso_639_1:
         type: string
       name:
         type: string

  BelongsToCollection:
     type: object
     properties:
       id:
         type: integer
       name:
         type: string
       poster_path:
         type: string
       backdrop_path:
         type: string
