swagger: "2.0"
info:
  description: "Service responsible to handle all the calls related to movies."
  version: "1.0.0"
  title: Tmdb
host: "api.themoviedb.org"
basePath: "/3"
tags:
  - name: MoviesDb
    description: Everything that goes with the movies

produces:
  - "application/json"
schemes:
  - "https"
paths:
  '/discover/movie':
    get:
      tags:
        - movies
      operationId: GetFilteredMovies
      description: Get a list of movies based on applied filters
      parameters:
        - name: api_key
          in: query
          type: string
          required: true
          description: api key
        - name: language
          in: query
          type: string
        - name: page
          in: query
          type: integer
        - name: primary_release_date.gte
          in: query
          type: string
          format: date
        - name: primary_release_date.lte
          in: query
          type: string
          format: date
        - name: sort_by
          in: query
          type: string
      responses:
        200:
          description: Returns list of movies
          schema:
            $ref: "#/definitions/MoviesResponseTmdb"
        401:
          description: Unauthorized
        404:
          description: Movies not found
          
  '/movie/{movie_id}':
    get:
      tags:
        - movies
      operationId: GetMovie
      description: Get a movie by id
      parameters:
        - name: movie_id
          in: path
          required: true
          type: integer
        - name: api_key
          in: query
          type: string
          required: true
          description: api key
        - name: language
          in: query
          type: string
          description: Pass a ISO 639-1 value to display translated data for the fields that support it.
      responses:
        200:
          description: Returns list of movies
          schema:
            $ref: "#/definitions/MovieResponse"
        401:
          description: Unauthorized
        404:
          description: Movies not found
  
  '/person/{person_id}':
    get:
      tags:
        - persons
      operationId: GetPerson
      description: Get a person's details by its Id
      parameters:
        - name: api_key
          in: query
          type: string
          required: true
          description: api key
        - name: person_id
          in: path
          type: integer
          required: true
          description: person id
        - name: language
          in: query
          type: string
      responses:
        200:
          description: Returns list of persons
          schema:
            $ref: "#/definitions/PersonDetailsTmdb"
        401:
          description: Unauthorized
        404:
          description: Person not found
          
  '/person/{person_id}/movie_credits':
    get:
      tags:
        - persons
      operationId: GetPersonMovies
      description: Get a person's movies by its Id
      parameters:
        - name: api_key
          in: query
          type: string
          required: true
          description: api key
        - name: person_id
          in: path
          type: integer
          required: true
          description: person id
        - name: language
          in: query
          type: string
      responses:
        200:
          description: Returns list of persons
          schema:
            $ref: "#/definitions/PersonMoviesResponseTmdb"
        401:
          description: Unauthorized
        404:
          description: Person not found
        
  '/search/person':
    get:
      tags:
        - persons
      operationId: GetPersonsByName
      description: Get persons by name
      parameters:
        - name: api_key
          in: query
          type: string
          required: true
          description: api key
        - name: query
          in: query
          type: string
          required: true
          description: name of the person, or part of their name
        - name: include_adult
          in: query
          type: boolean
        - name: language
          in: query
          type: string
        - name: page
          in: query
          type: integer
      responses:
        200:
          description: Returns list of persons
          schema:
            $ref: "#/definitions/PersonsResponseTmdb"
        401:
          description: Unauthorized
        404:
          description: Person not found
        
          
  '/search/movie':
    get:
      tags:
        - movies
      operationId: GetMoviesByTitle
      description: Get movies by title
      parameters:
        - name: api_key
          in: query
          type: string
          required: true
          description: api key
        - name: query
          in: query
          type: string
          required: true
          description: Title of the movie
        - name: include_adult
          in: query
          type: boolean
          required: false
          description: Include adult movies
        - name: language
          in: query
          type: string
          required: false
          description: Language of the movie
        - name: primary_release_year
          in: query
          type: string
          required: false
          description: Primary release year of the movie
        - name: page
          in: query
          type: integer
          required: false
          description: Page number
        - name: year
          in: query
          type: string
          required: false
          description: Year of the movie
      responses:
        200:
          description: Returns list of movies
          schema:
            $ref: "#/definitions/MoviesResponseTmdb"
        401:
          description: Unauthorized
        404:
          description: Movies not found

  '/movie/{movie_id}/credits':
    get:
      tags:
        - movies
      operationId: GetMovieCredits
      description: Get a movie's credits by its Id
      parameters:
        - name: api_key
          in: query
          type: string
          required: true
          description: api key
        - name: movie_id
          in: path
          type: integer
          required: true
          description: movie id
        - name: language
          in: query
          type: string
      responses:
        200:
          description: Returns credits for a movie
          schema:
            $ref: "#/definitions/MovieCreditsResponseTmdb"
        401:
          description: Unauthorized
        404:
          description: Credits not found
definitions:
  MovieCreditsResponseTmdb:
    type: object
    properties:
      cast:
        type: array
        items:
          $ref: '#/definitions/MovieCast'
      crew:
        type: array
        items:
          $ref: '#/definitions/MovieCrew'
      id:
        type: integer
        
  MovieCast:
    type: object
    properties: 
      adult:
        type: boolean
      gender:
        type: integer
      id:
        type: integer
      known_for_department:
        type: string
      name:
        type: string
      original_name:
        type: string
      popularity:
        type: number
      profile_path: 
        type: string
      cast_id:
        type: integer
      character:
        type: string
      credit_id:
        type: string
      order:
        type: integer
  
  MovieCrew:
    type: object
    properties:
      adult:
        type: boolean
      gender:
        type: integer
      id:
        type: integer
      known_for_department:
        type: string
      name:
        type: string
      original_name:
        type: string
      popularity:
        type: number
      profile_path:
        type: string
      credit_id:
        type: string
      department:
        type: string
      job:
        type: string
  
  PersonMoviesResponseTmdb:
    type: object
    properties: 
      cast:
        type: array
        items:
          $ref: '#/definitions/PersonMovie'
      crew:
        type: array
        items:
          $ref: '#/definitions/PersonMovie'
      id:
        type: integer
  
  PersonMovie:
    type: object
    properties:
      adult:
        type: boolean
      backdrop_path:
        type: string
      genres:
        type: array
        items:
          type: integer
      id:
        type: integer
      original_language:
        type: string
      original_title:
        type: string
      overview:
        type: string
      popularity:
        type: number
      poster_path:
        type: string
      release_date:
        type: string
      title:
        type: string
      video:
        type: boolean
      vote_average:
        type: number
      vote_count:
        type: integer
      character:
        type: string
      credit_id:
        type: string
      order:
        type: string
      department: 
        type: string
      job:
        type: string
        
  PersonDetailsTmdb:
    type: object
    properties:
      adult:
        type: boolean
      also_known_as:
        type: array
        items:
          type: string
      biography:
        type: string
      birthday:
        type: string
      deathday:
        type: string
      gender:
        type: integer
      homepage:
        type: string
      id:
        type: integer
      imdb_id:
        type: string
      known_for_department:
        type: string
      name:
        type: string
      place_of_birth:
        type: string
      popularity:
        type: number
      profile_path:
        type: string
      
  PersonsResponseTmdb:
    type: object
    properties: 
      page:
        type: integer
      results:
        type: array
        items:
          $ref: '#/definitions/PersonTmdb'
      total_pages:
        type: integer
      total_results:
        type: integer
  
  PersonTmdb:
    type: object
    properties: 
      adult: 
        type: boolean
      gender:
        type: integer
      id:
        type: integer
      known_for_department:
        type: string
      name: 
        type: string
      original_name:
        type: string
      popularity:
        type: number
      profile_path:
        type: string
      known_for:
        type: array
        items:
          $ref: '#/definitions/MovieResponse'
        
  MovieResponse:
    type: object
    properties:
      adult:
        type: boolean
      backdrop_path:
        type: string
      belongs_to_collection:
        type: object
        items:
          $ref: "#/definitions/BelongsToCollection"
      budget:
        type: integer
      genres:
        type: array
        items:
          $ref: "#/definitions/Genre"
      homepage:
        type: string
      id:
        type: integer
      imdb_id:
        type: string
      original_language:
        type: string
      original_title:
        type: string
      overview:
        type: string
      popularity:
        type: number
      poster_path:
        type: string
      production_companies:
        type: array
        items:
          $ref: "#/definitions/ProductionCompany"
      production_countries:
        type: array
        items:
          $ref: "#/definitions/ProductionCountry"
      release_date:
        type: string
      revenue:
        type: integer
      runtime:
        type: integer
      spoken_languages:
        type: array
        items:
          $ref: "#/definitions/SpokenLanguage"
      status:
        type: string
      tagline:
        type: string
      title:
        type: string
      video:
        type: boolean
      vote_average:
        type: number
      vote_count:
        type: integer
    required:
      - id
  
  Genre:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string

  ProductionCompany:
    type: object
    properties:
      id:
        type: integer
      logo_path:
        type: string
      name:
        type: string
      origin_country:
        type: string

  ProductionCountry:
    type: object
    properties:
      iso_3166_1:
        type: string
      name:
        type: string
  
  SpokenLanguage:
    type: object
    properties:
      english_name:
        type: string
      iso_639_1:
        type: string
      name:
        type: string

  BelongsToCollection:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      poster_path:
        type: string
      backdrop_path:
        type: string
        
  MoviesResponseTmdb:
    type: object
    properties:
      page:
        type: integer
      results:
        type: array
        items:
          $ref: "#/definitions/MovieByTitleTmdb"
      total_pages:
        type: integer
      total_results:
        type: integer
        
  MovieByTitleTmdb:
    type: object
    properties: 
        adult:
            type: boolean
        backdrop_path:
            type: string
        genre_ids:
            type: array
            items:
              type: integer
        id:
            type: integer
        original_language:
            type: string
        original_title:
            type: string
        overview:
            type: string
        popularity:
            type: number
        poster_path:
            type: string
        release_date:
            type: string
        title:
            type: string
        video:
            type: boolean
        vote_average:
            type: number
        vote_count:
            type: integer
    required:
      - id